body {
	width: 1000px;
}


h1 {
	height: 150px;
	background-image: url('../images/mars.png');
	padding-left: 10px;
	font-size: 1.6em;
}

.title {
	background-color: #FF6347;
	color: rgb(255, 255, 200);
	padding: 10px;
	border: 1px solid black;
	font-size: 1.2em;
	margin-top: 8px;
}

#mainNavigation h2{
	display:none;
	margin: 0px;
	padding: 0px;
}

#latestNews{
	display:none;
	margin: 0px;
	padding: 0px;
}

section{
	width: 80%;
	float: left;
}

aside{
	width: 18%;
	float: right;
	background-color: #eeeeee;
}

aside p{
	padding-left:6px;
	padding-right:6px;
	text-align:left;
}

aside a{
	padding-left:6px;
}

aside h3{
	font-size:1.0em;
}


#pageFooter p{
	clear:both;
	text-align:center;
	border-top:1px solid #FF6347;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: #FF6347;
}

li{
	margin-right:8px;
	padding-right: 8px;
	border-right: 2px solid #cccccc;
	display:inline; 
}

figure {
	margin: 0;
	padding: 0;
}

figure.leftAligned {
	float: left;
	margin-right: 8px;
}

figure.rightAligned {
	float : right;
	margin-left: 8px;
}

figcaption {
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 10px;
}

br {
	clear: both;
}

img {
	width: 200px;
	height: 200px;
	border: 5px solid black;
}

p {
	text-align: justify;
}
.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}
